html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .lastPassword {
  margin-bottom: 10px;
}

.btn--login,
.btn--login:hover,
.btn--login:active,
.btn--login:focus-visible {
  background-color: orange !important;
  border: 1px solid orangered !important;
  box-shadow: none;
}

.login--form {
  margin-top: 7% !important;
}
